<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask Example </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>User details Flask app Example</h2>
  <p></p>
  <p></p>
  <form class="form-horizontal" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">First Name:</label>
      <div class="col-sm-2">
        <input type="firstname" class="form-control" id="firstname" placeholder="first name" name="firstname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">Last Name:</label>
      <div class="col-sm-2">
        <input type="lastname" class="form-control" id="lastname" placeholder="last name" name="lastname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">Mobile:</label>
      <div class="col-sm-2">
        <input type="mobile" class="form-control" id="mobile" placeholder="mobile" name="mobile">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">Location:</label>
      <div class="col-sm-2">
        <input type="location" class="form-control" id="location" placeholder="loation" name="location">
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-2">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" class="btn btn-danger">Submit</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
